{% extends 'base.html' %}

{% block content %}
<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
        <h2>Manhã</h2>
        {% for talk in morning_talks %}
        <h3>{{ talk.start }} - {{ talk.title }}</h3>
        <h4>Por 
            {% for speaker in talk.speakers.all %}
            <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
            {% endfor %}
        </h4>
        <p>{{ talk.description }}</p>
        {% empty %}
        <p>Ainda não existem palestras de manhã.</p>
        {% endfor %}

        <h2>Tarde</h2>
        {% for talk in afternoon_talks %}
        <h3>{{ talk.start }} - {{ talk.title }}</h3>
        <h4>Por 
            {% for speaker in talk.speakers.all %}
            <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
            {% endfor %}
        </h4>
        <p>{{ talk.description }}</p>
        {% empty %}
        <p>Ainda não existem palestras de tarde.</p>
        {% endfor %}

        <h2>Mini-cursos</h2>
        {% for course in courses %}
        <h3>{{ course.start }} - {{ course.title }}</h3>
        <h4>Por 
            {% for speaker in course.speakers.all %}
            <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
            {% endfor %}
        </h4>
        <p>Descrição do curso.</p>
        {% empty %}
        <p>Ainda não existem cursos disponíveis.</p>
        {% endfor %}

    </div>
</section>
{% endblock content %}